.background-image{
    width: 100vw;
    height: 100vh;
    background-image:url("../../../assets/5244392.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.admin-btn{
    position: absolute;
    bottom: 20%;
    float: right;
    right: 10%;
}