<section class="background-image">
    <div class="container">
        <div>
            <!-- <button>{{getButtonTitle()}}</button>
        <input [(ngModel)]="x" type="text" (change)="y()">
        {{x}} -->
            <h1 class="pt-5 d-flex justify-content-center text-light" type="text">Welcome</h1>
        </div>

        <div class="pt-4 d-flex justify-content-start flex-column">
            <pre class="d-flex justify-content-start text-light">Your username (phone number)</pre>
            <pre class="text-light"> {{username}} </pre>
        </div>
        <div class="d-flex admin-btn">
            <button class="btn btn-success" (click)="adminAccess()">Admin access</button>
        </div>
    </div>
</section>